/netbeans/mi_aplicacion/nbproject/private/
/New Folder/mi_app/nbproject/private/
/New Folder/mi_app/build/
/New Folder/EscuelaDigital/nbproject/private/
/New Folder (2)/mi_app/nbproject/private/
/New Folder (2)/mi_app/build/
/Java/mi_app/nbproject/private/
/Java/mi_app/build/
/java/mi_app/nbproject/private/
/java/EscuelaDigital/build/
/java/mi_app/build/
/java/Mi_aplicacion/nbproject/private/
/java/Mi_aplicacion/build/
/java/clase2Java/nbproject/private/
/java/clase2Java/build/
/java/actividadJava/nbproject/private/
/java/actividadJava/build/
/java/clase3Java/nbproject/private/
/java/clase3Java/build/
/java/paginaWeb/target/
/java/baseDatos/target/
/java/New Folder/escuelaDigital/target/

/PildorasInformaticas/PracticasPildorasInformaticas/nbproject/private/
/PildorasInformaticas/PracticasPildorasInformaticas/build/
