#card-img{
    filter: opacity(30%)
}

#derecha{
    text-align: right;
    float: right;
    margin-top: 15%;
    margin-right: 5%;
    position: absolute;
    

    /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar-nav.navbar-center {
    position: absolute;
    right: 10%;
    /* transform: translatex(-50%); */
}

#pie{
    background-color: rgb(15, 47, 61);
    color: white;
    padding-left: 30px;
}
#tickets{
    background-color: rgb(50, 153, 81);
}
#envio{
    background-color: rgb(50, 153, 81);
    color: white;
}