.card-img{
    filter: opacity(50%);
    width: 100%;
    height: 100%;
}

.navbar-nav {
    /* position: absolute; */
    padding-left: 20%;
}
#derecha{
    
    display: block;
    text-align: right;
    float: right;
    padding-top: 20%;
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
}


#pie{
    background-color: rgb(15, 47, 61);
    text-align: center;
    
}
a{
    text-decoration: none;
    color: white;
    
}
#tickets{
    background-color: rgb(50, 153, 81);
}
#envio{
    background-color: rgb(50, 153, 81);
    color: white;
}

@media (min-width:1281px){
    .collapse navbar-collapse {
        position: absolute;
        margin-left: 20%;
    }
    }
@media (max-width:1023px){
    #derecha{
        display: block;
        text-align: center;
        padding-top: 5px;
        position: absolute;
        font-size: 12px;
    }

    #btn{
        width:100px;
        height:40px;
        font-size:10px ;
        
    }
    /* .navbar-nav.navbar-center {
        position: absolute;
        margin-right: 2%;
        
        
    } */
    
    
}
@media (max-width:767px){
    #derecha{
        display: block;
        text-align: center;
        padding-top: 0px;
        position: absolute;
        font-size: 8px;
    }

    .btn{
        width:150px;
        height:30px;
        font-size:10px ;
        
    }
    
        
}
@media (max-width:359px){
    #derecha{
        display: block;
        text-align: center;
        padding-top: 0%;
        position: absolute;
        font-size: 8px;
    }

    .btn{
        width:150px;
        height:15px;
        font-size:5px ;
        
    }
    
        
}